@charset "utf-8";


p{
    color: #e33232;
    font-size: 32px;
    text-align: center;
}


.alart_text{
  margin-left: 250px;
  margin-top: 16px;
}

  

  /*テーブル*/
table{ 
  border: double 5px #668ad8;
  /* padding: 0.5em 0.5em 0.5em 2em; */
  border-collapse: collapse;
  margin-bottom: 16px;
  margin-top: 32px;
}

td{
  color: #031729; 
  border: double 5px #668ad8;
  height: 64px;
  background: #f1f8ff; 
  /* padding: 0.5em 0.5em 0.5em 2em; */
  border: solid 1px #ccc;
}

.form_right {
width: 200px;
}

.form_left {
width: 160px;
font-size: 24px;
text-align: center;
}

.input_space {
width: 180px;
height: 32px;
font-size: 24px;
}



/*登録ボタン*/
.btn-flat-double-border {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 150px;
  height: 60px;
  font-size: 24px;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}


.btn-flat-double-border:hover {  /* カーソルがボタンの上にあるときに色を変更 */
  background: #e3b4af;
}

a {
  font-size: 24px;
}