.location_btn{
	font-size: 20;
	line-height: 2;
	display: block;
	width: 250px;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	height: 40px;
	background: rgb(55, 88, 254);
	box-shadow: 2px 3px 0 rgb(130, 130, 130);
	border-radius: 20px;
	color: #ffffff;
}
.action_button{
	font-size: 20;
	line-height: 2;
	display: block;
	width: 250px;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	height: 40px;
	background: rgb(10, 175, 16);
	box-shadow: 2px 3px 0 rgb(95, 95, 95);
	border-radius: 20px;
	color: #ffffff;
}
.counter{
	text-align: center;
}
.main_container{
	flex-direction:column;
	text-align: center;
}
